.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #550055;
    color: #eeeeee;
}
.enable {
   
    background: rgb(0, 168, 255);
}
.destroy{
     display:none;
     /*color:red;*/
}
.destroy:hover{
     /*display:none;*/
     /*color:red;*/
     text-decoration: none;
}


    .table-hover > tbody > tr:hover > td > .destroy {
        display:inline;
    }


