<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="logfileTrace" xsi:type="File" fileName="${basedir}/Logs/StandatrLog.log"/>
    <target name="logfileDebug" xsi:type="File" fileName="${basedir}/Logs/CoolLog.log"
      layout="${date}: ${message}" />
    <target name="console" xsi:type="ColoredConsole"
     layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfileTrace" />
    <logger name="*" minlevel="Info" writeTo="logfileDebug" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>